.app {
  height: 80vh;
  width: 40vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

.cell {
  width: 200px;
  height: 200px;
  margin: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-weight: bold;
  color: white;
  background-color: gray;
}

.cell:hover {
  background-color: green;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}